<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.username">svdev</property>
        <property name="connection.password">postgres</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>


        <mapping class="com.svdev.entity.User"/>
        <mapping class="com.svdev.entity.Client"/>
        <mapping class="com.svdev.entity.Project"/>
        <mapping class="com.svdev.entity.Task"/>
        <mapping class="com.svdev.entity.Payment"/>
        <!-- DB schema will be updated if needed -->
    </session-factory>
</hibernate-configuration>